.bg-image {
    width: 100% !important;
    background-image: url('../../../assent/baground/baground_black.webp');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;

}

.H1 {
    /* font-family: 'Avenir', sans-serif !important; */
    line-height: 75px;
    font-weight: bold;
    font-family: 'Source Sans Pro', sans-serif;

}

.smallH1 {
    font-family: 'Source Sans Pro', sans-serif;
}

.img-gradient2 {
    position: relative;
    /* display: inline-block; */
}

@media only screen and (max-width: 765px) {
    .img-gradient2:after {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 90vh !important;
        display: inline-block;
        background: linear-gradient(to bottom, #18191a79 20%, #161f2fbc 80%);
        /* W3C */
    }

}

.img-gradient2:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 60vh;
    display: inline-block;
    background: linear-gradient(to bottom, #18191a79 20%, #161f2fbc 80%);
    /* W3C */
}

.img-gradient2 img {
    display: block;
}