@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@1,100&family=Gentium+Book+Plus:ital@1&family=Poppins:wght@500&family=Rubik:ital,wght@1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@1,100&family=Gentium+Book+Plus:ital@1&family=Poppins:wght@500&family=Rubik:ital,wght@1,500&family=Source+Sans+Pro:wght@400;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: 'Barlow Condensed', sans-serif; */

}

.font_justify {
  font-style: oblique;
}

.mx-with {
  max-width: auto !important;
  margin: 0 auto !important;
}

.right-side-textss {
  padding-bottom: 5px;
  transition: all 0.1s ease-in-out;
}

.right-side-textss:hover {
  border-bottom: 2px solid rgb(255, 255, 255);
  color: rgb(228, 156, 40);

}

.reGistration {
  font-family: 'Source Sans Pro', sans-serif;
}


#myResume:hover {
  color: rgb(255, 255, 255) !important;
}

/* ---------------navbar-------------- */
.lg-header a {
  color: rgb(255, 255, 255);
  font-size: 16px !important;
  /* font-weight: 100 !important; */
  cursor: pointer;
  transition: all 0.3s ease-in-out !important;
}


.lg-header a:hover {
  color: rgb(228, 161, 18);
}

.lg-header .btn {
  background-color: unset !important;
  border: none !important;
  padding: 0 !important;
}

.hiside {
  border-radius: unset !important;
  margin-top: 9px !important;
}

.hidden {
  cursor: pointer;

}

#avatar {
  cursor: pointer;
}

.navbar {
  z-index: 1000 !important;
  font-family: 'Source Sans Pro', sans-serif;
}

/* -------right side nav---------- */
.right-side-nav {
  display: block !important;
}

@media screen and (max-width: 400px) {
  #logout {
    font-size: 12px !important;
    color: aqua !important;
  }

  .lg-header .btn {
    background-color: unset !important;
    border: none !important;
    padding: 0 !important;
    font-size: 10px !important;
  }

  .imates {
    width: 30px !important;
  }

  .logo-text {
    font-size: 18px !important;
    margin: 0 1px !important;
  }
}

#myResume {
  color: rgb(227, 152, 2);
}

/* .Pdf {
  width: 70%;
  height: 100vh;
  margin: 0 auto !important;
} */

#OutLog {
  font-size: 22px;
}